.user__side
  .user__side__list
    .user__side__list__sellitem
      .user__side__list__sellitem--btn
        = link_to "#" , class: "sellitembtn" do
          出品商品
    .user__side__list__buyitem
      .user__side__list__buyitem--btn
        = link_to "#" , class: "buyitembtn" do
          購入履歴
    .user__side__list__pro
      .user__side__list__pro--btn
        = link_to "#", class: "probtn" do
          本人情報変更
    .user__side__list__adedit
      .user__side__list__adedit--btn
        = link_to "#", method: :get , class: "adeditbtn" do
          住所変更
    .user__side__list__newcard
      .user__side__list__newcard--btn
        = link_to new_creditcard_path , class: "newcardbtn" do
          カード情報登録
    .user__side__list__confirmcard
      .user__side__list__confirmcard--btn
        = link_to "#" , class: "confirmcardbtn" do
          カード情報確認