.header
  .header__h-container
    .header__h-container__single-header
      %h1.header__h-container__single-header__logo
        = link_to "#" do
          = image_tag "/material/logo/logo.png", class: "furima-logo", alt: "FURIMA"
      %nav.header__h-container__single-header__progress
        %ol.clearfix
          %li.header__h-container__single-header__progress__active{ id: "first" }
            会員情報
            .header__h-container__single-header__progress__round--red
          %li.header__h-container__single-header__progress__text
            住所登録
            .header__h-container__single-header__progress__round
            .header__h-container__single-header__progress__line{ id: "long" }
          %li.header__h-container__single-header__progress__text{ id: "end" }
            完了
            .header__h-container__single-header__progress__round
.main
  .main__title 会員情報入力
  = form_for(@user, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: @user
    .main__container
      .main__container__field
        = f.label :ニックネーム, class: "main__container__field__label"
        %p.main__container__field__label-red 必須
        %br/
        = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太郎", class: "main__container__field__form"
      .main__container__field
        = f.label :メールアドレス, class: "main__container__field__label"
        %p.main__container__field__label-red 必須
        %br/
        = f.email_field :email, placeholder: "PC・携帯携帯どちらでも可", class: "main__container__field__form"
      .main__container__field
        = f.label :パスワード, class: "main__container__field__label"
        %p.main__container__field__label-red 必須
        %br/
        = f.password_field :password, placeholder: "７文字以上の半角英数字", class: "main__container__field__form"
        %p.main__container__field__password ※英字と数字の両方を含めて設定してください
      .main__container__field
        = f.label :パスワード（確認用）, class: "main__container__field__label"
        %p.main__container__field__label-red 必須
        %br/
        = f.password_field :password_confirmation, placeholder: "７文字以上の半角英数字", class: "main__container__field__form"
      %p.main__container__field__title 本人確認
      %p.main__container__field__info 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .main__container__field--parallel
        .main__container__field--parallel-each
          = f.label :お名前（全角）, class: "main__container__field__label", id: "name__label"
          %p.main__container__field__label-red 必須
          %br/
          = f.text_field :last_name, placeholder: "例）山田", class: "main__container__field__form-each"
        .main__container__field--parallel-each
          %br/
          = f.text_field :first_name, placeholder: "例）彩", class: "main__container__field__form-each"
      .main__container__field--parallel
        .main__container__field--parallel-each
          = f.label :お名前かな（全角）, class: "main__container__field__label", id: "name__label"
          %p.main__container__field__label-red 必須
          %br/
          = f.text_field :last_name_kana, placeholder: "例）やまだ", class: "main__container__field__form-each"
        .main__container__field--parallel-each
          %br/
          = f.text_field :first_name_kana, placeholder: "例）あや", class: "main__container__field__form-each"
      .main__container__field
        = f.label :生年月日, class: "main__container__field__label"
        %p.main__container__field__label-red 必須
        %br/
        .main__container__field__form-birth
          != sprintf(f.date_select(:date_of_birth, prefix:'birthday', with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
      .main__container__field
        = f.label :自己紹介, class: "main__container__field__label"
        %p.main__container__field__label ※任意
        %br/
        = f.text_area :biography, class: "main__container__field__form-area"
      .main__container__field
        = f.label :プロフィール画像, class: "main__container__field__label"
        %p.main__container__field__label ※任意
        %br/
        = f.file_field :avatar_image, class: "main__container__field__form-file"
      %p.main__container__field__caution ※本人の情報は正しく入力してください。会員登録後、修正するにはお時間をいただくことがあります。
      %a.main__container__field__confirm 「次へ進む」のボタンを押すことにより、
      %a.main__container__field__confirm-regulation 利用規約に
      %p.main__container__field__confirm-bottom 同意したものとみなします。
      .actions
        = f.submit "次へ進む", class: "main__container__field__btn"
      %p.main__container__field__registration 本人情報の登録について＞
      .main__container__field__announcement
        %p.main__container__field__announcement-text This site is protected by reCAPTURE and the Google Privacy Policy and Terms of Service apply.
    -# = render "devise/shared/links"
= render "footer"