.credit-card
  .credit-card_title
    %h2 クレジットカード情報入力
  .credit-card_box
    .credit-card_box_inner
      = form_with model: @card, url: creditcards_path, local: true do |f|
        .credit-card_box_inner_number
          = f.label :カード番号, class: 'label'
          %span 必須
          %br
          = f.text_field :number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
        .credit-card_box_inner_deadline
          = f.label :有効期限, class: 'label'
          %span 必須
          .credit-card_box_inner_deadline_data
            = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
            %p 月
            = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
            %p 年
        .credit-card_box_inner_number
          = f.label :セキュリティコード, class: 'label'
          %span 必須
          = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
        .credit-card_box_inner_bottom#card_token
          = f.submit '追加する', id: 'token_submit'