%main
  .main-container
    .main-container__box
      .main-container__box-header
        = link_to root_path do
          = image_tag "/material/logo/logo.png", size: "185x53"
      #form
        = render layout: 'form', locals: { item: @item } do
          .item-submit
            %label
              = f.submit style: "30pxdisplay:none"
              %p.item-submit__submit-btn
                出品する
            = link_to root_path class: "link-item-submit" do
              .item-submit__back-btn
                もどる
          %p.item-submit-attention
            禁止されている
            %a.link-item-submit 行為
            および
            %a.link-item-submit 出品物
            を必ずご確認ください。
            %a.link-item-submit 偽ブランド品
            や
            %a.link-item-submit 盗品物
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            %a.link-item-submit 加盟店規約
            に同意したことになります。

          .regulation-footer
            %ul.regulation-footer__list
              %li
                =link_to '#', class: "regulation-footer__list__link" do
                  プライバシーポリシー
              %li
                =link_to '#', class: "regulation-footer__list__link" do
                  フリマ利用規約
              %li
                =link_to '#', class: "regulation-footer__list__link" do
                  特定商取引に関する表記
            .regulation-footer__logo
              .regulation-footer__logo__box
                = link_to root_path do
                  = image_tag "/material/logo/logo-white.png", size: "185x53"
                %p.regulation-footer__logo__box__company
                  © FURIMA, Inc.

= javascript_include_tag 'errorbox'
= javascript_include_tag 'fee'
