

.completion__notice
  = link_to "#" do
    = image_tag "/material/logo/logo.png", class: "completion__notice--logo", alt: "FURIMA"
  .completion__notice--main
    購入が完了しました。
    %br
    %br
    %span{style: "color:rgb(45, 201, 201)"} 「
    = @item.name
    %span{style: "color:rgb(45, 201, 201)"} 」
    %br
    %br
    = "決済金額は¥#{@charge.amount}です"
  = link_to "トップへ戻る", root_path, class: "completion__notice--link"