= render 'layouts/notifications'
= render "items/main_header"

.search
  .search__left
    = search_form_for(@q, url:search_items_path) do |f|
      .search__left__sort
        = f.select(:sorts, {"並び替え": "","価格の安い順": "","価格の高い順": "", "出品の新しい順": "created_at desc"}, {selected: params[:q][:sorts]}, class: "search__left__sort--tab")
      .search__left__form
        .search__left__form--label
          = f.label :name_cont, "キーワード"
        .search__left__form--field
          = f.search_field :name_cont, class: "search__left__form--field"
      .search__left__action
        = f.submit "検索", class: "search__left__action--btn"

  .search__right
    .search__right__index
      - @items.each do |item|
        .main_page_pickup_box_index_list
          =link_to item_path(item.id) do
            .main_page_pickup_box_index_list_picture
              = image_tag "#{item.images[0].image_url}", class:".main_page_pickup_box_index_list_picture__box"
            .main_page_pickup_box_index_list_text
              .main_page_pickup_box_index_list_text_name
                = item.name
              .main_page_pickup_box_index_list_text_data
                %ul 
                  %li= item.price
                  %li
                    %i.fa.fa-star
                      0
                .p
                  (税込)
