= render 'items/main_header'

.category-bar
  FURIMA
  = icon('fas', 'chevron-right')
  ベビー・キッズ
  = icon('fas', 'chevron-right')
  ベビー服(男女兼用) ~95cm
  = icon('fas', 'chevron-right')
  アウター
  = icon('fas', 'chevron-right')
  商品名

.item
  .item__item-box
    %h1.item__item-box__name
      = @item.name
    -# 大イメージ
    .item__item-box__image0
      = image_tag @top_image.image.url, size: "560x346"
    -# 小イメージ
    %ul#image_list.item__item-box__images
      - @images.each do |image|
        %li.item__item-box__images__image
          = image_tag image.image.url, size: "140x87"
    
    %p.item__item-box__price
      = "¥#{@item.price}"
    %p.item__item-box__price-description
      %span 
        = @item.delivery_charge.name

    %p.item__item-box__description
      = @item.description

    %table.item__item-box__details
      %tr
        %th
          出品者
        %td
          = @item.user.nickname
      %tr
        %th
          カテゴリー
        %td
          %p
            = link_to '#' do
              = @item.category.name
          %p
            = link_to '#' do
              = @item.category.name
          %p
            = link_to '#' do
              = @item.category.name
      %tr
        %th
          ブランド
        %td
          - if @item.brand.present?
            = @item.brand
      %tr
        %th
          商品のサイズ
        %td
          - if @item.brand.present?
            = @item.brand
      %tr
        %th
          商品の状態
        %td
          = @item.condition.condition
      %tr
        %th
          配送料の負担
        %td
          = @item.delivery_charge.name
      %tr
        %th
          発送元の地域
        %td
          = link_to '#' do
            = @item.prefecture.name
      %tr
        %th
          発送日の目安
        %td
          = @item.delivery_dates.name

    .item__item-box__btn-box
      .item__item-box__btn-box__favorite-btn
        = icon('fas', 'star')
        %span お気に入り 
        %span 0
      = link_to '#' do
        .item__item-box__btn-box__report-btn
          = icon('fas', 'flag')
          不適切な商品の通報
    - if user_signed_in? && current_user.id != @item.user.id && @item.status == 1 #  status[1] = 購入可能
      .item__item-box__submit
        = link_to "購入画面へ進む", purchase_item_path(@item), class: "item__item-box__submit-btn" 
    - if user_signed_in? && current_user.id != @item.user.id && @item.status == 2 #  status[2] = 購入済
      .item__item-box__submit
        %span.item__item-box__soldout
          売り切れ
    - if user_signed_in? && current_user.id == @item.user.id && @item.status == 2 #  status[2] = 購入済
      .item__item-box__submit
        %span.item__item-box__soldout
          販売済
    - if user_signed_in? && current_user.id == @item.user.id
      .item__item-box__show
        .item__item-box__show-edit
          = link_to "編集", class: "item__item-box__show-edit"
        .item__item-box__show-delete
          = link_to "削除", class: "item__item-box__show-delete"

  .item__comment-box
    %textarea.item__comment-box__textarea
    .item__comment-box__attention
      %span 相手のことを考え丁寧なコメントを心がけましょう。
      %span 不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .item__comment-box__comment-submit-btn
      = icon('fas', 'comment')
      コメントする

  .item__other-items-box
    .item__other-items-box__prev-next
      .item__other-items-box__prev-next__prev
        = link_to '#' do
          %span
            = icon('fas', 'chevron-left')
          前の商品
      .item__other-items-box__prev-next__next
        = link_to '#' do
          次の商品
          %span
            = icon('fas', 'chevron-right')
    .item__other-items-box__more-items
      = link_to '#' do
        このカテゴリーをもっと見る

= render 'items/main_footer'

-# 小イメージが５枚以上の時、ulに'overflown'クラスをつけてスタイルを変更
:javascript
  (()=>{
    const images = document.getElementsByClassName('item__item-box__images__image');
    const images_array = Array.from(images);
    if (images_array.length > 5) {
      document.getElementById('image_list').classList.add('overflown');
    }
  })();

